/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Montserrat+Alternates:wght@600;700;800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 165;
  --first-color: hsl(var(--hue), 60%, 40%);
  --title-color: hsl(var(--hue), 4%, 12%);
  --text-color: hsl(var(--hue), 4%, 20%);
  --body-color: hsl(var(--hue), 30%, 92%);
  --container-color: hsl(0, 0%, 100%);
  --border-color: hsl(var(--hue), 4%, 16%);
  --white-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 80%, 10%, 0.2);

  /*========== Font family ==========*/
  --body-font: 'Jost', sans-serif;
  --second-font: 'Montserrat Alternates', sans-serif;

  /*========== Font sizes ==========*/
  --big-font-size: 5.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.8125rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 800;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
}

/*=============== DARK THEME ===============*/

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== LAYOUT ===============*/

/*=============== HEADER & NAV ===============*/

/* Show menu */

/* Active link */

/* Change background header */

/*=============== MAIN ===============*/

/*=============== HOME ===============*/

/*=============== SERVICES ===============*/

/* Swiper */

/*=============== SKILLS ===============*/

/*=============== WORK ===============*/

/* Active work */

/*=============== RESUME ===============*/

/*=============== TESTIMONIALS ===============*/

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== STYLE SWITCHER ===============*/

/* Show switcher */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 400px) {
}
